{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'schedule/css/department_list.css' %}" type="text/css" media="all" />
    <title>Список кафедр</title>
</head>
<body>
{% include 'appbar.html' %}
<br/>
    <h1>Список кафедр</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Назва кафедри</th>
                <th>Факультет</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ department.name }}</td>
                    <td>{{ department.faculty }}</td>
                    <td>
                        <a href="{% url 'department_delete' department.pk %}" class="delete-link">Видалити</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Кафедр ще немає.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_department' %}">Додати кафедру</a>
</body>
</html>