{% load static %}
<link rel="stylesheet" href="{% static 'schedule/css/footer.css' %}" type="text/css" media="all" />
<footer>
    <img class="footer-logo" src="{% static 'schedule/images/knu_logo (3).png' %}" alt="КНУ ім. Тараса Шевченка">
    <div class="footer-section">
        <p>Київський національний університет імені Тараса Шевченка" © 1998-2025</p>
        <p>
            Адреса: <a href="https://knu.ua/ua/geninf/adm/" target="_blank">вулиця Володимирська, 60, Київ, 01033</a>
        </p>
    </div>
    <div class="footer-section">
        <p>
            Розробник – <a href="https://kbis.kpi.ua" target="_blank">Конструкторське бюро інформаційних систем</a>
        </p>
        <p>
            Створено в рамках проекту "<a href="https://ecampus.kpi.ua" target="_blank">Електронний кампус КПІ</a>"
        </p>
    </div>
    <div class="footer-section">
        <p>
            <a href="/about">Про проєкт</a><br>
            <a href="/contacts">Контакти</a>
        </p>
        <p>Використання матеріалу сайту тільки з обов’язковим посиланням на schedule.knu.ua</p>
    </div>
</footer>
