{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'schedule/css/department_list.css' %}" type="text/css" media="all" />
    <title>Список груп</title>
</head>
<body>
{% include 'appbar.html' %}
<br/>
    <h1>Список груп</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Назва групи</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ group.name }}</td>
                    <td>
                        <a href="{% url 'group_delete' group.pk %}" class="delete-btn">Видалити</a>
                        <a href="{% url 'group_edit' group.pk %}" class="delete-btn">Редагувати</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Груп ще немає.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   <div style="text-align: center;">
            <a href="{% url 'add_group' %}" class="add-btn">Додати групу</a>
        </div>

<br/><br/>
<footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>