{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дашборд</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'schedule/css/home.css' %}" type="text/css" media="all" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<link rel="shortcut icon" type="image/ico" href="{% static 'schedule/images/favicon.ico' %}" >
    <div class="sidebar">
        <h2>Меню</h2>
        <ul>
            <li><a href="/departments">Кафедри</a></li>
            <li><a href="/teachers">Викладачі</a></li>
            <li><a href="/groups">Групи</a></li>
            <li><a href="/subjects">Предмети</a></li>
            <li><a href="/audiences">Аудиторії</a></li>
            <li><a href="/semesters">Навчальні семестри</a></li>
            <li><a href="/lessons/">Формування пар</a></li>
            <li><a href="/schedule/">Формування розкладу</a></li>
            <li><a href="/sessions/">Формування заліків/екзаменів</a></li>
            <li><a href="/sessions/">Формування сесії</a></li>
            <li><a href="/contacts/">Контакти</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="header">Застосунок для формування розкладу</div>
        <div class="cards">
            <div class="card">
                <i class="fas fa-university" style="color: #27ae60;"></i>
                <h3>Кількість кафедр</h3>
                <p>{{ department_count }}</p>
            </div>
            <div class="card">
                <i class="fas fa-calendar-check" style="color: #f1c40f;"></i>
                <h3>Заплановані заняття</h3>
                <p>{{ lessons_count }}</p>
            </div>
            <div class="card">
                <i class="fas fa-chalkboard-teacher" style="color: #e74c3c;"></i>
                <h3>Кількість викладачів</h3>
                <p>{{ teacher_count }}</p>
            </div>

            <div class="card">
                <i class="fas fa-book" style="color: #3498db;"></i>
                <h3>Кількість аудиторій</h3>
                <p>{{ classroom_count }}</p>
            </div>

        </div>
        <div class="chart-container" style="width: 60%; margin: 40px auto;">
            <canvas id="scheduleChart">
                <script>
                    const ctx = document.getElementById('scheduleChart').getContext('2d');

                    const scheduleChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Кафедри', 'Заняття', 'Викладачі', 'Аудиторії'],
                            datasets: [{
                                label: 'Статистика',
                                data: [{{ department_count }}, {{ lessons_count }}, {{ teacher_count }}, {{ classroom_count }}],
                                backgroundColor: [
                                    '#27ae60',
                                    '#f1c40f',
                                    '#e74c3c',
                                    '#3498db',

                                ],
                                borderColor: '#2c3e50',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        stepSize: 1
                                    }
                                }
                            }
                        }
                    });
                </script>
            </canvas>
        </div>
    </div>

</body>
</html>
