<!-- schedule_list.html -->
<h1>Розклад</h1>

{% if schedule_entries %}
    <table>
        <thead>
            <tr>
                <th>Урок</th>
                <th>Час</th>
                <th>Аудиторія</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in schedule_entries %}
                <tr>
                    <td>{{ entry.lesson }} | {{ entry.subject }}</td>
                    <td>{{ entry.timeslot }} | {{ entry.lesson_number }}</td>
                    <td>{{ entry.classroom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Розклад ще не створено.</p>
{% endif %}
