{% load static %}
{% load dict_filters %}
{% load list_filters %}
<html lang="uk" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Розклад</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'schedule/css/schedule.css' %}" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <h1>Розклад</h1>

    <form method="get" action="{% url 'schedule_view' %}">
    <label for="teacher">Виберіть викладача:</label>
    <select name="teacher_id" id="teacher">
        <option value="">Всі викладачі</option>
        {% for teacher in teachers %}
            <option value="{{ teacher.id }}" {% if teacher.id == selected_teacher_id %}selected{% endif %}>
                {{ teacher.full_name }}
            </option>
        {% endfor %}
    </select>

    <label for="course">Курс:</label>
    <select name="course" id="course" onchange="this.form.submit()">
        <option value="">Всі курси</option>
        <option value="1" {% if selected_course == 1 %}selected{% endif %}>1 курс</option>
        <option value="2" {% if selected_course == 2 %}selected{% endif %}>2 курс</option>
        <option value="3" {% if selected_course == 3 %}selected{% endif %}>3 курс</option>
        <option value="4" {% if selected_course == 4 %}selected{% endif %}>4 курс</option>
        <option value="m1" {% if selected_course == m1 %}selected{% endif %}>1 курс маг.</option>
        <option value="m2" {% if selected_course == m2 %}selected{% endif %}>2 курс маг.</option>
    </select>

    <label for="group">Група:</label>
    <select name="group_id" id="group">
        <option value="">Усі групи</option>
        {% for group in groups %}
            <option value="{{ group.id }}" {% if group.id == selected_group_id %}selected{% endif %}>
                {{ group.name }}
            </option>
        {% endfor %}
    </select>

    <label for="semester">Семестр:</label>
    <select name="semester_id" id="semester">
        <option value="">Усі семестри</option>
        {% for semester in semesters %}
            <option value="{{ semester.id }}" {% if semester.id == selected_semester_id %}selected{% endif %}>
                {{ semester.year }} / {{ semester.number }} семестр
            </option>
        {% endfor %}
    </select>

    <button type="submit">Фільтрувати</button>
</form>


<div style="display: flex; gap: 10px; margin-top: 20px;">
    <form method="post" action="{% url 'generate_schedule' %}">
        {% csrf_token %}
        <input type="hidden" name="semester_id" id="hiddenSemesterId" value="{{ selected_semester_id }}">
        <button type="submit" id="generateButton" disabled>Згенерувати розклад</button>
    </form>

    <form method="get" action="{% url 'home' %}">
        <button type="submit">На головну</button>
    </form>

    <form method="get" action="{% url 'add_lesson' %}">
        <button type="submit">
            <i class="fas fa-plus" style="margin-right: 8px; transform: scale(1.3)"></i>
            Додати пару
        </button>
    </form>

    <form method="get" action="{% url 'export_schedule_excel' %}">
        <button type="submit">
          <i class="fas fa-file-excel" style="margin-right: 8px; transform: scale(1.3)"></i>
          Export EXCEL
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const semesterSelect = document.getElementById('semester');
        const generateButton = document.getElementById('generateButton');
        const hiddenSemesterId = document.getElementById('hiddenSemesterId');

        function updateButtonState() {
            const selected = semesterSelect.value;
            generateButton.disabled = !selected;
            hiddenSemesterId.value = selected;
        }

        semesterSelect.addEventListener('change', updateButtonState);
        updateButtonState();
    });
</script>

    {% for course in sorted_course_keys %}
    <h2>{{ course }} курс</h2>
    {% with course_groups=groups_by_course|dict_get:course %}
    <table border="1">
        <thead>
            <tr>
                <th></th>
                {% for group in course_groups %}
                    <th>{{ group.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for day in days_of_week %}
                <tr>
                    <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                        {{ day }}
                    </td>
                    {% for group in course_groups %}
                        <td>
                            {% with lesson_count=0 %}
                                {% for entry in schedule_entries %}
                                    {% if entry.group == group and entry.day_of_week == day %}
                                        {% with lesson_count=lesson_count|add:1 %}
                                            <div class="schedule-entry" style="display: flex; justify-content: space-between; align-items: center;">
                                            <div style="flex-grow: 1;">
                                                <strong class="lesson-number">{{ entry.lesson_number }} пара
                                                {% if entry.lesson_number == 1 %}
                                                    <span style="color: #233874;">
                                                        <i class="fas fa-clock" style="vertical-align: middle; margin-right: -1px; color: #233874;"></i>
                                                        08:40-10:15
                                                    </span>
                                                {% elif entry.lesson_number == 2 %}
                                                    <span style="color: #233874;">
                                                        <i class="fas fa-clock" style="vertical-align: middle; margin-right: -1px; color: #233874;"></i>
                                                        10:35-12:10
                                                    </span>
                                                {% elif entry.lesson_number == 3 %}
                                                    <span style="color: #233874;">
                                                        <i class="fas fa-clock" style="vertical-align: middle; margin-right: -1px; color: #233874;"></i>
                                                        12:20-13:55
                                                    </span>
                                                {% elif entry.lesson_number == 4 %}
                                                    <span style="color: #233874;">
                                                        <i class="fas fa-clock" style="vertical-align: middle; margin-right: -1px; color: #233874;"></i>
                                                        14:05-15:35
                                                    </span>
                                                {% endif %}
                                                </strong>

                                                <span class="subject {{ entry.lesson.lesson_type|upper }}" style="margin-top: 3px;">
                                                    {{ entry.lesson.lesson_type }}
                                                </span>
                                                <span class="subject" style="font-weight: bold; color: #233874; font-size: 18px; margin-top: 5px;">{{ entry.lesson.subject.name }}</span>
                                                <span class="teacher" style="display: block; margin-top: 5px;">
                                                    <i class="fas fa-graduation-cap" style="vertical-align: middle; margin-right: -1px; color: #233874;"></i>
                                                    {{ entry.lesson.teacher.position|slice:":4"|lower }}. {{ entry.lesson.teacher.full_name }}
                                                </span>
                                                <span class="classroom" style="display: block; margin-top: 5px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#233874" style="vertical-align: middle; margin-right: -2px;">
                                                        <path d="M0 0h24v24H0z" fill="none"/>
                                                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
                                                    </svg>
                                                    {{ entry.classroom.name }}
                                                </span>
                                                {% if entry.lesson.start_date and entry.lesson.end_date %}
                                                    <span style="
                                                        display: block;
                                                        margin-top: 5px;
                                                        color: red;
                                                        font-size: 14px;
                                                        font-style: italic;
                                                    ">
                                                        з {{ entry.lesson.start_date }} до {{ entry.lesson.end_date }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div style="display: flex;">
                                                <form method="post" action="{% url 'edit_lesson' entry.lesson.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-button" title="Редагувати пару">✏️</button>
                                                </form>

                                                <form method="post" action="{% url 'delete_lesson' entry.lesson.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-button" onclick="return confirm('Ви впевнені, що хочете видалити цю пару?');" title="Видалити пару">🗑️</button>
                                                </form>
                                            </div>
                                        </div>


                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endwith %}
{% endfor %}

</body>
</html>
